:root{
    --primaryColor : #ddd0c8;
    --greyColor : #323232;
    --headerHeight : 3rem;
}
.footer{
    width: 100%;
    text-align: center;
    background: green;
    margin-top: 1rem;
    padding: 1rem 0;

    span{
        text-align: center;
        color: var(--greyColor);
        opacity: .5;
        font-size: 15px;
    }
}